html {
  --duration: 1s;
  --delay: 0s;
  --initial-opacity: 0;
  --final-opacity: 1;
  --direction: none;
}

@keyframes appear {
  0% {
    opacity: var(--initial-opacity);
  }
  100% {
    opacity: var(--final-opacity);
  }
}

@keyframes from-top {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes from-right {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes from-bottom {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation__appear {
  opacity: 0;
  animation: appear var(--duration) ease-out var(--delay) forwards,
    var(--direction) var(--duration) ease-out var(--delay) forwards;
}
