@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 300 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --bg-color: #ffffff;
  --bg-perks: #f4f7fa;
  --border-color: #e7e9ed;
  --bg-video: #7d818d;
  --text-color: #161c2d;
  --secondary-color: #473bf0;
  --accent-color: #68d585;
  --shadow-color: #00000055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: var(--text-color);
  color: var(--text-color);
}

section#form {
  height: 745px;
  background-image: url("../../assets/bg-form.webp");
  opacity: 14%;
  background-position: center;
  background-size: cover;
}

footer {
  background-color: var(--bg-color);
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.2rem;
}

footer h2 {
  font-size: 3.2rem;
  text-wrap: wrap;
  width: 50.8rem;
}

.btn,
.btn-arr {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 2rem;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.1s;
  animation: appear 0.5s;
}

.btn:hover,
.btn-arr:hover {
  background-color: hsl(from var(--secondary-color) h s calc(l + 2));
  box-shadow: 0px 0px 20px var(--shadow-color);
  transform: scale(1.05);
}

.btn:active,
.btn-arr:active {
  background-color: hsl(from var(--secondary-color) h s calc(l - 2));
  transform: scale(1);
}

.btn-arr::after {
  content: url("../../assets/tail-right.svg");
  margin-inline-start: 4rem;
}
