@import url("./global.css");

body {
  background-color: #1f1f1f;
  padding: 10%;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 4vw;
  font-weight: bold;
  list-style: none;

  li {
    -webkit-mask-image: linear-gradient(to right, #ffffffff, #ffffff00);
    mask-image: linear-gradient(to right, #ffffffff, #ffffff00);
    background-size: cover;
    background-position: center;
    border-radius: 5rem 0 0 5rem;
    box-shadow: var(--shadow-color) 0 0 10px;

    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.6;

    &:hover {
      transform: translateX(10rem);
      opacity: 1;
    }

    &:first-child {
      background-image: url("../pages/consultation/assets/images/bg-hero.webp");
    }

    &:last-child {
      background-image: url("../pages/consultation/assets/images/service-1.webp");
    }
  }
}

a {
  display: block;
  padding: 3vh 3vw;
  color: var(--text-color);
  transition: text-shadow 0.5s;
}
