@import url("./global.css");

body {
  background-color: #1f1f1f;
  color: var(--bg-color);
  padding: 10rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  list-style: outside;
}

a {
  color: var(--bg-color);

  &:hover {
    text-decoration: underline;
  }
}
