@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 300 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
}

@keyframes hero-h-anim {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hero-p-anim {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grad {
  0% {
    background-position-y: 50%;
  }
  100% {
    background-position-y: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gilroy", sans-serif;
}

header {
  background-image: linear-gradient(270deg, #00000000, #161c2d),
    url("../assets/bg-hero.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 676px;
  color: white;
  animation: grad 2s forwards;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 4rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin-inline: 2.5rem auto;
  gap: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: baseline;
  animation: appear 1s;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 100ms, text-shadow 100ms, color 100ms;
}

nav a:hover {
  color: #cac7fc;
  text-shadow: 0px 0px 5px black;
  transform: scale(1.05);
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  margin-inline-start: 1rem;
  animation: appear 0.5s;
}

.title:hover {
  text-shadow: 0px 0px 20px black;
  color: inherit;
  transform: none;
}

.head-content {
  margin: 8rem 25rem;
  width: 500px;
}

.head-content h1 {
  font-size: 6rem;
  font-weight: bold;
  animation: hero-h-anim 1s ease-out;
}

.head-content p {
  opacity: 0;
  font-size: 1.9rem;
  margin-block: 3rem;
  animation: hero-p-anim 1s ease-out 0.5s forwards;
}

.btn,
.btn-arr {
  background-color: #473bf0;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 50ms, background-color 0.1s;
  animation: appear 0.5s;
}

.btn:hover,
.btn-arr:hover {
  background-color: #3a2de3;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn:active,
.btn-arr:active {
  background-color: #594ef3;
  transform: scale(0.98);
}

.btn-arr::after {
  content: url("../assets/tail-right.svg");
  margin-inline-start: 4rem;
}
