@import url("../../../styles/global.css");

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  color: var(--bg-color);
}

/* Hack to eliminate the white edges when blurring the header background */
header::before {
  content: "";
  position: absolute;
  background-color: #161c2d;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg--hero-small {
  background-image: url("../assets/images/bg-hero-small.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.header__overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #00000000, var(--text-color));
  mix-blend-mode: multiply;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  padding-block: 1.7rem;
  padding-inline: 4.5rem;
  width: 100%;
  z-index: 1;
  transition: background-color 0.25s;
  opacity: 0;
  animation: appear 1s ease-out forwards;
}

.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-inline-start: 1.7rem;
}

nav a {
  color: var(--bg-color);
  transition: text-shadow 250ms, color 250ms;
}

.nav-bar > :last-child {
  margin-inline-start: auto;
}

nav a:hover {
  color: hsl(from var(--secondary-color) h s calc(l + 5));
  text-shadow: 0px 0px 10px var(--shadow-color);
}

.head-content {
  padding-block: 18.5rem 14rem;
  max-width: 50rem;
}

.head-content h1 {
  font-size: 6rem;
  font-weight: bold;
  opacity: 0;
  animation: from-top 1s ease-out forwards, appear 1s ease-out forwards;
}

.head-content p {
  font-size: 1.9rem;
  margin-block: 3rem;
  line-height: 3.2rem;
  opacity: 0;
  animation: from-left 1s ease-out 0.5s forwards,
    appear-partial 1s ease-out 0.5s forwards;
}

section#facts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 8rem 7.5rem;
  opacity: 0;
  animation: appear 1s ease-out 800ms forwards,
    from-bottom 1s ease-out 800ms forwards;
}

.fact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.fact span:first-child {
  font-size: 4.8rem;
  font-weight: bold;
}

.fact span:last-child {
  font-size: 1.7rem;
  width: 17rem;
}

section#services {
  text-align: center;
  padding-block: 8rem 12rem;
}

section#services h2,
section#perks h2 {
  font-size: 3.6rem;
  font-weight: bold;
}

section#services p,
section#perks p {
  font-size: 1.9rem;
  opacity: 0.7;
  margin-block-start: 1.7rem;
  max-width: 60rem;
  margin-inline: auto;
  line-height: 3.2rem;
}

.services__service-container {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 9rem;
  justify-content: space-between;
}

.service {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  transition: box-shadow 200ms, transform 200ms;
}

.service:hover {
  box-shadow: 0px 0px 20px var(--shadow-color);
  transform: scale(1.02);
}

.service img {
  width: 25.5rem;
  height: 17rem;
}

.service span {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: normal;
  color: var(--text-color);
  padding-inline-end: 5rem;
  padding-block: 1.5rem;
}

section#perks {
  text-align: center;
  background-color: var(--bg-perks);
  padding-block: 9.2rem 13.5rem;
}

.perks__demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 7.4rem;
}

.video-container,
#demo_video {
  position: relative;
  width: 54rem;
  height: 42rem;
  border-radius: 1rem;
  background-color: var(--bg-video);
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 31px 34px -20px var(--shadow-color);
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  transition: transform 100ms;
}

#play-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0px 0px 20px var(--shadow-color);
}

#play-button:active {
  transform: translate(-50%, -50%) scale(1);
}

.list--perks {
  max-width: 36rem;
  list-style: none;
  text-align: left;
  counter-reset: item;

  & > li {
    counter-increment: item;

    + li {
      margin-block-start: 3rem;
    }

    &:before {
      content: counter(item);
      background-color: rgb(from var(--secondary-color) r g b / 0.1);
      color: var(--secondary-color);
      border-radius: 50%;
      width: 4.3rem;
      aspect-ratio: 1;
      text-align: center;
      align-content: center;
      font-family: "Rubik", sans-serif;
      font-size: 1.7rem;
      position: absolute;
      margin-inline-start: -6.5rem;
      margin-block-start: 0.6rem;
    }

    & > span {
      display: block;
      font-size: 2.1rem;
      font-weight: bold;
      margin-block-end: 1rem;
    }

    & > p {
      line-height: 2.9rem;
      font-size: 1.7rem;
      opacity: 0.7;
    }
  }
}

section#alert {
  text-align: center;
  font-size: 1.7rem;
  padding-block: 3.3rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

section#alert span:first-child {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10rem;
  padding: 0.55rem 1.25rem;
  letter-spacing: 0.163rem;
  margin-inline-end: 0.5rem;
}

section#alert a {
  color: var(--bg-color);
  text-decoration: underline;
}

section#alert a:hover {
  color: var(--text-color);
}

section#testimonies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 10rem;
}

.testimony {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  gap: 3rem;
}

.testimony > img {
  height: 3.5rem;
  width: 10.4rem;
  justify-self: start;
}

.testimony > blockquote {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: center;
}

.testimony__avatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: end;
  gap: 2rem;
}

.testimony__avatar > img {
  object-fit: cover;
  object-position: center;
  height: 4.7rem;
  width: 6.532rem;
  border-radius: 50%;
}

.testimony__avatar > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.testimony__avatar > div > span:first-of-type {
  font-weight: bold;
  font-size: 1.7rem;
}

.testimony__avatar > div > span:last-of-type {
  font-size: 1.5rem;
  opacity: 0.7;
}

footer {
  margin-block-start: 12rem;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;
  padding-block-end: 11rem;
}

.footer__link-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & span {
    font-size: 1.5rem;
    opacity: 0.7;
    margin-block-end: 2rem;
  }

  & a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.7rem;
  }

  & a:hover {
    text-decoration: underline;
  }

  &:last-of-type {
    & a {
      color: var(--secondary-color);
      font-weight: bold;
    }
  }
}

.footer__end {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-block: 3rem 3.6rem;
  border-top: 1px solid var(--border-color);

  & span img {
    display: inline-block;
    margin-inline-start: 1rem;
  }
}

.footer__social {
  display: flex;
  gap: 3rem;
}

#logo-twitter {
  transition: transform 200ms;
}

#logo-twitter > path {
  opacity: 0.5;
  transition: opacity 200ms, fill 200ms;
}

#logo-twitter:hover > path {
  fill: #1da1f2;
  opacity: 1;
}

#logo-twitter:hover {
  transform: scale(1.4);
}

#logo-facebook {
  transition: transform 200ms;
}

#logo-facebook > path {
  opacity: 0.5;
  transition: opacity 200ms, fill 200ms;
}

#logo-facebook:hover > path {
  fill: #4267b2;
  opacity: 1;
}

#logo-facebook:hover {
  transform: scale(1.3);
}

#logo-instagram {
  transition: transform 200ms;
}

#logo-instagram path {
  transition: opacity 200ms, fill 200ms;
}

#logo-instagram:not(:hover) path:not(:hover) {
  fill: #161c2d;
  opacity: 0.2;
}

#logo-instagram:hover {
  transform: scale(1.3);
}

#logo-linkedin {
  transition: transform 200ms;
}

#logo-linkedin > path {
  opacity: 0.5;
  transition: opacity 200ms, fill 200ms;
}

#logo-linkedin:hover > path {
  fill: #0077b5;
  opacity: 1;
}

#logo-linkedin:hover {
  transform: scale(1.3);
}
