@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 300 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --bg-color: #ffffff;
  --bg-perks: #f4f7fa;
  --border-color: #e7e9ed;
  --bg-video: #7d818d;
  --text-color: #161c2d;
  --secondary-color: #473bf0;
  --accent-color: #68d585;
  --shadow-color: #00000055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: var(--text-color);
  color: var(--text-color);
}

section#form {
  height: 745px;
  background-image: url("../../assets/bg-form.webp");
  opacity: 14%;
  background-position: center;
  background-size: cover;
}

footer {
  background-color: var(--bg-color);
  height: 242px;
}
